# Dependencies
node_modules

# Environment
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build / cache
.vercel
coverage
dist
build
.tmp
.cache

# OS / editor
.DS_Store
.vscode
.idea
